
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    @Styles.Render("~/Content/vendors/mdi/css/materialdesignicons.min.css")
    @Styles.Render("~/Content/vendors/css/vendor.bundle.base.css")
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    @Styles.Render("~/Content/css/style.css")
    <!-- End layout styles -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/senbonzakura/image/upload/v1573316040/images/favicon_tsvmth.png" />

</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        @RenderBody()
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
@Scripts.Render("~/bundles/root-script")
<!-- endinject -->
</body>
</html>
